<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simon Game</title>
    
    <link rel="stylesheet" href="assets/css/app.css">
  </head>
  <body>
      <div class="row"> 
        <div class="column medium-8 medium-offset-2 text-center">
            <h2 class="title-game">Simon Game</h2>

            <div class="row">
                <div class="column medium-6 medium-offset-3">
                  <div class="control-game">
                    <div class="row">
                      <div class="column medium-6 text-right">
                          <button class="button alert">Start</button>
                      </div>
                      <div class="column medium-6">
                        <div class="switch large text-left">
                          <input class="switch-input" id="yes-no" type="checkbox" name="exampleSwitch">
                          <label class="switch-paddle" for="yes-no">                 
                          <span class="switch-active" aria-hidden="true">ON</span>
                          <span class="switch-inactive" aria-hidden="true">OFF</span>
                          </label>
                        </div>
                      </div>
                    </div>   
                  </div>
                </div>       
              
                            
            </div> 

            <div class="row">
              <div class="column medium-6 medium-offset-3">
                  <div class="round-game">
                      <p>Round: <span id='roundgame'>2</span></p>
                  </div>
              </div>
            </div>
             

            <div class="box-game text-center">
              <div class="row">
                <div class="column medium-12">
                  <div class="rowbox">
                      <div class="box1" id="b1"></div>
                      <div class="box2" id="b2"></div>
                  </div>
                  
                </div>
                <div class="column medium-12">
                  <div class="rowbox">
                    <div class="box3" id="b3"></div>
                    <div class="box4" id="b4"></div>
                  </div>                    
                </div>                
              </div>
            </div>
        </div>  
      </div>  
    
    <script src="assest/js/app.js"></script>
  </body>
</html>
